.Header {
  background-color: #222;
  height: 150px;
  padding: 16px;
  color: white;
  text-align: center;
}

.Header-logo {
  animation: Header-logo-spin infinite 20s linear;
  height: 70px;
  width: 70px;
}


.Header-title {
  font-size: 1.5em;
}


@keyframes Header-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}